@font-face {
  font-family: 'Enchilada';
  src: url('fonts/Enchilada.TTF') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: yellow;
  text-align: center;
  font-family: 'Enchilada';
  font-size: .75em;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
}

a {
  color: yellow;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CLASSES */

.wrapper {
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 2%;

  background-image: url('images/pozadina.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 80% 80%; */
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-right,
#arrow-left {
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  cursor: pointer;
}

#arrow-right {
  border-left: 36px solid yellow;
  margin-left: 15px;
}

#arrow-left {
  border-right: 36px solid yellow;
  margin-right: 15px;
}

/* RESPONSIVE */

@media (min-width: 1200px) {
  body {
    font-size: 1em;
  }

  .wrapper {
    display: flex;
    gap: 120px;
  }

  nav,
  section {
    width: 50%;
  }

  nav {
    flex-direction: column;
    height: 200px;
    margin-top: 100px;
    text-align: left;
  }
}